html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
li,
ol,
pre,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

i {
    margin-left: 5px;
}