<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zed.mapper.RoleMapper">
    <insert id="addRole">
        insert into sys_role (name, description)
        VALUES (#{name}, #{description})
    </insert>
    <update id="updateRole">
        update sys_role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="deleteRoleBatchById" parameterType="java.lang.Integer">
        update sys_role set flag = 1
        where id in
        <foreach collection="list" item="ids" index="no" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>


</mapper>